body {
  margin:0;
  padding: 0;
  font-family:Arial, sans-serif;
}
*{
  box-sizing: border-box;
}


#mainheader{
  background: linear-gradient(90deg, #3a5f8c, #7e6b4f, #4a3428);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 40px;

}
.logo h1{
  font-size: 40px;
  color:floralwhite;
}
.navbar ul {
  list-style:none;
  display:flex;
}
#mainheader .nav-links{
  display: flex;
  list-style: none;
 
}
 ul li a {
  color:white;
  text-decoration:none;
  padding:0 15px;
  font-size:20px;
 
}

.current {
  color:orange;
  font-weight:bold;
  text-decoration: underline;
}

#hero {
  background:url("../images/backagroud.jpg") no-repeat center/cover;
  height:100vh;
  color:#081e4a;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}
 #hero h2{
  font-size: 50px;
 }

.orange {color:orange;}
p{
  font-size: 20px;
  color: #e4e8ea;
}
.btn{
  background:orange;
  color:#433f3f;
  padding:12px 25px;
  border-radius:10px;
  display:inline-block;
  margin-top:20px;
  text-decoration:none;
  font-size:20px;
}
#history {
  display: flex;
  height: 350px;
}

.history-img {
  width: 50%;
  background: url("../images/photo2.jpg") no-repeat center/cover;
}

.history-content {
  width: 50%;
  background: #1d1919;
  color: #fff;
  padding: 60px;
  text-align: center;
}

.btn2 {
  background: #da8611;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  margin-top: 20px;
}

.history-content h2 {
  color: orange;
  font-size: 30px;
  margin-bottom: 20px;
}

#icons {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background: white;
}

.icon-box {
  width: 30%;
  padding: 25px 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #e3c84d;
}

.icon-box h3 {
  margin-bottom: 15px;
}

.icon-box p {
  color: #444;
  font-size: 15px;
}
i{
  font-size: 40px;
}

.highlighted {
  background: linear-gradient(90deg, #D97706, #C17F59, #7C3AED);
  color: #222;
}

.icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 15px auto;
  border-radius: 50%;
}

/* about  page*/
.active {
  color:orange;
  font-weight:bold;
  text-decoration: underline;
}

/* ===== About Section ===== */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
  gap: 50px;
}

.text {
  width: 50%;
  text-align: center;
}

.text h1 {
  font-size: 36px;
  color: #7c5329;
  margin-bottom: 12px;
  font-weight: bold;
}

.text p {
  font-size: 16px;
  color: #151414;
}

img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  box-shadow: 2px 2px 12px rgba(90, 137, 231, 0.2);
  flex-shrink: 0;
}
/* ===== Testimonials ===== */
.testimonials {
  background: url('../images/photo1.jpg') no-repeat center/cover;
  padding: 80px 40px;
  text-align: center;
  color: white;
}
.box {
  background: #d99a6c;
  width: 65%;
  margin: 20px auto;
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 6px;
  box-shadow: 2px 2px 10px #dfce35;
  color: #c8b1b1;
}
.testimonials h2{
  font-size: 40px;
  color: #211b1b;
  margin-bottom: 50px;
  padding-top: 5px;
}

/* صورة المستخدم */
.user {
  width: 75px;
  height: 75px;
  background: url('../images/person.jpeg') no-repeat center/cover;
  border-radius: 50%;
  flex-shrink: 0;
  box-shadow: 1px 1px 6px rgb(26, 124, 222);
}

.box p {
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
}
/* ===== Footer ===== */
#foot {
background: linear-gradient(90deg, #3a5f8c, #7e6b4f, #4a3428);
  color:white;
  text-align:center;
  padding:20px;
}
/* concat */
.con {
  color:orange;
  font-weight:bold;
  text-decoration: underline;
}
/* ===== سكشن الهيرو للاتصال ===== */
.contact-hero {
  background-image: url("../images/ph2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  text-align: center;
  color: white;
}

.contact-hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.contact-hero p {
  font-size: 18px;
  opacity: 0.8;
}

/* ===== Form Section ===== */
.contact-form .container {
  width: 50%;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 600;
}

form input, form textarea {
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}

form textarea {
  height: 120px;
}

.btn-submit {
  background: linear-gradient(90deg, #8B5E3C, #C17F59);
color: white;
  padding: 14px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
  margin-top: 15px;
  font-weight: bold;
  transition: 0.3s;
}

/* ===== Contact Info ===== */
.contact-info {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.info-box {
  width: 260px;
  background: #edeef2;
  padding: 30px 15px;
  border-radius: 10px;
  text-align: center;
  color: #1d1a1a;
  box-shadow: 2px 2px 8px rgba(239, 235, 235, 0.2);
  margin-bottom: 40px;
  transition: 0.3s;
}

.info-box:hover {
  transform: translateY(-5px);
  box-shadow: 2px 6px 14px rgba(39, 13, 186, 0.3);
}

i {
  font-size: 100px;
  margin-bottom: 10px;
}

.info-box h3 {
  font-size: 22px;
  margin-bottom: 8px;
  font-weight: bold;
}

.info-box p {
  font-size: 15px;
  color:#333;
}
